:root {
  --primary_color: #F24950;
  --secondary_color: #105B81;
  --background_color: #FFFFFF;
  --borders_color: #BFE8FC;
  --text_primary_color: #193D6D;
  --text_secondary_color: #99C3D9;
  --elements_background_color: #F7FCFF;
  --folders_icon_color: #F49C12;
  --files_icon_color: #105B81;
}
